/* Elements */
div.thanks, div.thanks * {
  transition: all 0.4s ease 0s;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: rgb(255 212 96);
  text-underline-offset: 4px;
}

/* Transformations */
div.thanks:hover{
  background-color: #ffe395;
}

div.thanks:hover *  {
text-decoration-color: black;
}
/* Keyframes */
