@media screen and (min-width: 800px) {
  .mobile {
    display: none;
  }

  body {
    padding-bottom: 120px;
  }

  #page-fold{
    height: 30em;
  }

  .quote-div{
    height: 15em;
  }

}

@media screen and (max-width: 800px) {
  :root {
    --menu-speed: 0.75s;
    --fs-sxl: 1.5rem;
    --fs-l: clamp(1rem, 1rem +12vw, 1.3rem);
    --fs-m: 1.25em;
    --fs-n: 1rem;
    --fs-s: .8rem;
    --fs-btn: 1.3rem;
    --fs-sm-btn: .95rem;
  }


  header.desktop {
    display: none;
  }

  header.mobile {
    position: fixed;
    top: 0;
    align-items: center;
    width: 100%;
    z-index: 1;
    display: flex;
    background: white;
  }

  /* Navigation Bar */
    .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 9;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    padding: 1rem;
    background: #00000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
  }

  .menu-wrap .hamburger>div:before,
  .menu-wrap .hamburger>div:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  .menu-wrap .hamburger>div:after {
    top: 10px;
  }

  .menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
    background: white;
  }

  .menu-wrap .toggler:checked+.hamburger>div:before,
  .menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
    background: white;
  }

  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .4s ease;
  }

  .menu-wrap .menu>div {
    background-color: rgba(0, 0, 0, 0.864);
    border-radius: 50%;
    width: 300vh;
    height: 300vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all .4s ease;
  }

  .menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity .4s ease;
  }

  .menu-wrap .menu>div>div * {
    list-style: none;
    color: white;
    font-size: var(--fs-l);
    padding: 1rem;
    font-weight: 700;
    transition: color .4s ease;
  }

  .menu-wrap .toggler:checked~.menu {
    visibility: visible;
    opacity: 1;
  }

  .menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }

  .menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity .4s ease;
  }

  .logo {
    margin: 0 30px 0 auto;
  }

  /* Home Page */
  #page-fold {
    margin: 10px 0 0;
    padding: 0 0 0;
  }

  div.hook-h1{
    margin: 0 0px 0px;
  }

  #page-fold-btn {
  margin: 10px 0 20px;
  }
  div.quote-div {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  img#portrait {
    height: 15em;
    position: relative;
    bottom: -40px;
    z-index: 0;
    align-self: center;
    margin: 0;
  }

  .content-cards {
    flex-direction: column;
    align-items: center;
  }

  .content-cards>div {
    flex-direction: column;
    align-items: center;
  }

  #card1 {
    order: 1;
    margin-bottom: 5px;
    min-width: 90%;
  }

  #card2 {
    order: 1;
    margin: 5px 0;
    min-width: 90%;
  }

  #card3 {
    order: 1;
    margin-top: 5px;
    min-width: 90%;
    margin-bottom: 100px;
  }

  button.content-cards-cta {
    background-color: #ffe395;
    box-shadow: 0 10px 20px .5em rgb(155 155 155 / 25%);
    color: #000000
  }

  /* Page 2 */
  form.contact-us {
    margin: 0 5% 60px;
  }

  #name,
  #email-phone {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .flex-column {
    width: 100%;
  }

  div.request-type {
    display: flex;
    flex-direction: row;
  }

  .request-label {
    margin: 0px auto 0 10px;
    padding: 0;
  }

  /* Page three */
  h1.vault {
    text-align: center;
    margin: 0 10px;
  }

  h3.vault {
    text-align: center;
    margin: 0 30px;
  }

  ul.vault {
    display: flex;
    flex-direction: column;
    margin: 10px 0
  }

  ul.vault a {
    box-shadow: 0 10px 20px .5em rgb(155 155 155 / 30%);
  }

  ul.vault a:last-of-type {
    margin: 0 0 100px;
  }

  /* Page Four */
  h1.freebies {
    text-align: center;
    margin: 0 10px;
  }

  h3.freebies {
    text-align: center;
    margin: 0 30px;
  }

  div.freebies>a,
  div.freebies-1,
  div.freebies-2 {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  div.freebies-1>a,
  div.freebies-2>a {
    margin-top: 10px;
    box-shadow: 0 10px 20px 0.5em rgb(155 155 155 / 35%);
  }

  div.freebies img {
    width: 70vw;
  }

  div.freebies-2>a:last-of-type {
    margin-bottom: 100px;
  }

  div.thanks {
    width: 95%;
  }

  div.thanks * {
    white-space: normal;
    font-size: var(--fs-sm-btn);
  }
}
